@mixin form{
	.w-form {
		float: left;
		margin-right: 40px;
		max-width: 900px;
	}
	.w-display {
		position: relative;
		float: left;
		width: 400px;
		min-height: 400px;
		border-radius: 4px;
		border: 1px solid #ddd;
		overflow: hidden;
		background: url('../../assets/geometry.png') repeat;
		&>img {
			display: block;
			margin: 0;
			width: 100%;
		}
		.u-camera {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}